.slideLine_ {
  width: 60%;
  height: 3px;
  background-color: $white;
  animation: openLine 1.2s ease-out forwards;
  margin-bottom: 30px;
}
.self-typed3 {
  font-size: 33px;
  font-weight: bold;
  color: black;
  margin-left: 11%;
  border-bottom: 1px solid $green;
}

.background-image-about {
  position: absolute;
  width: 100%;
  height: 493px;
  > img {
    width: 100%;
  }
}
.main-image_about {
  max-width: 100%;
}
.cover-3 {
  background-image: linear-gradient(45deg, $cyan, $green);
}
.section_wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section_image {
  width: 120px;
  height: 149px;
  transform: rotate(15deg);
}
.section_item {
  height: 330px;
  padding: 22px;
  background-image: linear-gradient(45deg, $red, $pink);
  display: flex;
  flex-direction: row-reverse;
}
.section_left {
  width: 230px;
  text-align: left;
  margin-right: 20px;
}
.section_title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: white;
}
.section_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}
.section_line {
  width: 99%;
  margin-top: 48px;
  margin-bottom: 50px;
  height: 2px;
  background-color: $white;
}
.one {
  background-image: linear-gradient(55deg, $orange, $yellow);
}
.two {
  background-image: linear-gradient(45deg, $purple, $pink);
}
.z {
  background-image: linear-gradient(195deg, $purple, $indigo);
}
.acc_wrapper {
  height: 250px;
}
.title {
  @include animation-detail(2.7s);
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 22px;
  color: $gray-200;
  letter-spacing: 1.5px;
}

.subtitle {
  @include animation-detail(1.2s);
  font-size: 33px;
  margin-bottom: 22px;
  margin-top: 11px;
  color: $yellow;
}

.subsubTitle {
  @include animation-detail(2.2s);
  font-size: 21px;
  margin-left: 12px;
  padding: 10px;
  color: $gray-200;
}
.aboutFooter {
  width: 100%;
  background-color: $green;
  height: 80px;
}
.f_logo {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-right: 20%;
  padding: 0.5rem;
  color: white;
}
///// DESKTOP  AND LARGER
@include media6 {
  .about_image_about {
    width: 100%;
    top: 300px;
    z-index: -1;
    position: absolute;
  }
  .section_wrapper {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .section_item {
    height: 500px;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktopOnly {
  }
  .section_left {
  }
  .one {
  }
  .two {
  }
  .z {
    width: 100%;
  }
  .title {
    @include animation-detail(0.7s);
    font-size: 49px;

    margin-top: 14px;
    margin-bottom: 34px;
    letter-spacing: 1.5px;
    color: $gray-200;
  }

  .subtitle {
    @include animation-detail(1.9s);

    margin-top: 7px;
  }
  .subsubTitle {
    @include animation-detail(1.2s);

    margin-top: 80px;
  }

  .cover-3 {
    background-image: linear-gradient(45deg, $cyan, $green);
  }
}
.fadein {
  opacity: 0;
  @include animation(fadein 2s);
  @include animation-fill-mode(forwards);
}
.fadein.card {
  margin-bottom: 10px;
}
.fadein.card.start {
  margin-top: 1px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
