.main-nav {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.spacer {
  flex: 1;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0 1.5rem;
  display: none;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15rem;
  max-width: 90%;
  background: white;
  box-shadow: 1px 0 8px rbga(0, 0, 0, 0.26);
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
  z-index: 200;
  padding: 3rem 2rem;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav__items.mobile {
  flex-direction: column;
}
.mobile-toggle {
  background: transparent;
  border: none;
  display: flex;
  width: 2.5rem;
  height: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
}

.mobile-toggle__bar {
  width: 2.5rem;
  height: 4px;
  background: white;
}

@include media6 {
  .mobile-toggle {
    display: none;
  }
  .main-nav__items {
    display: flex;
  }
}
