.fadein {
  opacity: 0;
  @include animation(fadein 2s);
  @include animation-fill-mode(forwards);
}

.fadeout {
  opacity: 0;
  @include animation(fadeout 2s);
  @include animation-fill-mode(forwards);
}

.tpx-one {
  text-align: center;

  color: $white;
  position: absolute;
  left: 50px;
  width: calc(100% - 100px);
  top: calc(100% - 91%);

  z-index: 7779;
  @include animation-detail(0.5s);
}
.tpx-one-title {
  color: $gray-300;
  font-size: 24px;
  font-family: $fontspecial;
  margin-bottom: 10px;
  margin-top: 70px;
  letter-spacing: 0.7px;
}
.tpx-one-desc {
  color: $white;
  font-size: 14px;
  font-family: $fontspecial;
  letter-spacing: 0.6px;
  background-color: red;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}
.tpx-one-btn {
  width: 100%;
  margin-top: 40px;
  .shopbtn {
    width: 110px;
    background-color: $gray-700;
    color: $orange;
    font-size: 32px;
    padding: 10px;
    font-family: $fontspecial;
  }
}

.tpx-two {
  text-align: center;

  position: absolute;
  left: 50px;
  width: calc(100% - 100px);
  top: calc(100% - 91%);
  z-index: 7779;
  @include animation-detail(0.5s);
}
.tpx-two-title {
  color: $gray-300;
  font-size: 24px;
  font-family: $fontspecial;
  margin-bottom: 10px;
  margin-top: 70px;
  letter-spacing: 0.7px;
}
.tpx-two-desc {
  color: $white;
  font-size: 14px;
  font-family: $fontspecial;
  letter-spacing: 0.6px;

  width: 100%;
  height: 90%;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}
.tpx-two-btn {
  width: 100%;
  margin-top: 40px;
  .shopbtn {
    width: 110px;
    background-color: $gray-700;
    color: $orange;
    font-size: 32px;
    padding: 10px;
    font-family: $fontspecial;
  }
}
.tpx-three {
  text-align: center;

  position: absolute;

  left: 50px;
  width: calc(100% - 100px);
  top: calc(100% - 91%);
  z-index: 7779;
  @include animation-detail(0.5s);
}
.tpx-three-title {
  color: $gray-300;
  font-size: 24px;
  font-family: $fontspecial;
  margin-bottom: 10px;
  margin-top: 70px;
  letter-spacing: 0.7px;
}
.tpx-three-desc {
  color: $white;
  font-size: 14px;
  height: 80%;
  font-family: $fontspecial;
  letter-spacing: 0.6px;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}
.tpx-three-btn {
  width: 100%;
  margin-top: 40px;
  .shopbtn {
    width: 110px;
    background-color: $gray-700;
    color: $orange;
    font-size: 32px;
    padding: 10px;
    font-family: $fontspecial;
  }
}
.tpx-four {
  text-align: center;
  position: absolute;
  left: 50px;

  width: calc(100% - 100px);
  top: calc(100% - 91%);

  z-index: 7779;
  @include animation-detail(0.5s);
}
.tpx-four-title {
  color: $gray-300;
  font-size: 24px;
  font-family: $fontspecial;
  margin-bottom: 10px;
  margin-top: 70px;
  letter-spacing: 0.7px;
}
.tpx-four-desc {
  color: $white;
  font-size: 14px;
  font-family: $fontspecial;
  letter-spacing: 0.6px;

  width: 100%;
  height: 90%;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}
.tpx-four-btn {
  width: 100%;
  margin-top: 40px;
  .shopbtn {
    width: 110px;
    background-color: $gray-700;
    color: $orange;
    font-size: 32px;
    padding: 10px;
    font-family: $fontspecial;
  }
}

.tpx-ff-title {
  color: $gray-300;
  font-size: 24px;
  font-family: $fontspecial;
  margin-bottom: 10px;
  margin-top: 70px;
  letter-spacing: 0.7px;
}
.tpx-ff-desc {
  color: $white;
  font-size: 14px;
  font-family: $fontspecial;
  letter-spacing: 0.6px;

  width: 100%;
  height: 90%;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}
.tpx-ff-btn {
  width: 100%;
  margin-top: 40px;
  .shopbtn {
    width: 110px;
    background-color: $gray-700;
    color: $orange;
    font-size: 32px;
    padding: 10px;
    font-family: $fontspecial;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include media6 {
  .tpx-one {
    width: calc(80% - 280px);
    margin-left: 20%;
  }
  .tpx-one-btn {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: calc(80% - 280px);
  }
  .tpx-one-desc {
    color: $white;
    font-size: 24px;
    font-family: $fontspecial;
    letter-spacing: 0.6px;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 40px;
  }
  .tpx-two {
    width: calc(80% - 280px);
    margin-left: 20%;
  }
  .tpx-two-btn {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: calc(80% - 280px);
  }
  .tpx-two-desc {
    color: $white;
    font-size: 24px;
    font-family: $fontspecial;
    letter-spacing: 0.6px;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 40px;
  }
  .tpx-three {
    width: calc(80% - 280px);
    margin-left: 20%;
  }
  .tpx-three-btn {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: calc(80% - 280px);
  }
  .tpx-three-desc {
    color: $white;
    font-size: 24px;
    font-family: $fontspecial;
    letter-spacing: 0.6px;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 40px;
  }
  .tpx-four {
    width: calc(80% - 280px);
    margin-left: 20%;
  }
  .tpx-four-btn {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: calc(80% - 280px);
  }
  .tpx-four-desc {
    color: $white;
    font-size: 24px;
    font-family: $fontspecial;
    letter-spacing: 0.6px;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 40px;
  }
}
