.post {
  margin: 1rem 0;
  border: 1px solid $mblue;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__meta {
  font-size: 1rem;
  color: #707070;
  margin: 0;
}

.post__title {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: $mblue;
}

.post__image {
  height: 12rem;
  width: 100%;
}

.post__actions {
  text-align: center;
}

@include media6 {
  .post__image {
    height: 23rem;
    width: 100%;
  }
}
