.swipe_item_a {
  background-color: white;
  height: 202px;
  width: calc(100% - 90px);
}
.swipe_item_b {
  background-color: purple;
  height: 202px;

  width: calc(100% - 90px);
}
.swipe_item_c {
  background-color: teal;
  height: 202px;

  width: calc(100% - 90px);
}
.swipe_item_d {
  background-color: gray;
  height: 202px;

  width: calc(100% - 90px);
}
.swipe_item_e {
  background-color: wheat;
  height: 202px;

  width: calc(100% - 90px);
}
.swipe_item_f {
  background-color: saddlebrown;
  height: 202px;

  width: calc(100% - 90px);
}
.swipe_item_ff {
  background-color: rgb(19, 139, 83);
  height: 202px;

  width: calc(100% - 90px);
}

@include media6 {
  .swipe_item_a {
    background-color: white;
    height: 422px;
    width: calc(100% - 190px);
  }
  .swipe_item_b {
    background-color: purple;
    height: 422px;

    width: calc(100% - 190px);
  }
  .swipe_item_c {
    background-color: teal;
    height: 422px;

    width: calc(100% - 90px);
  }
  .swipe_item_d {
    background-color: gray;
    height: 422px;

    width: calc(100% - 90px);
  }
  .swipe_item_e {
    background-color: wheat;
    height: 422px;

    width: calc(100% - 90px);
  }
  .swipe_item_f {
    background-color: saddlebrown;
    height: 422px;

    width: calc(100% - 90px);
  }
  .swipe_item_ff {
    background-color: rgb(19, 139, 83);
    height: 422px;

    width: calc(100% - 90px);
  }
}
