.slide_item {
  height: 100vh;
  padding-top: 50px;
  width: 100%;
}
.swipe_item_image {
  width: 100%;
  height: 100%;
}
.one_i {
  background-color: $indigo;
  background-image: linear-gradient(45deg, $indigo, $purple);
}

.two_i {
  background-color: $teal;
  background-image: linear-gradient(45deg, $purple, $teal);
}
.three_i {
  background-color: $pink;
  background-image: linear-gradient(45deg, $green, $cyan);
}
.four_i {
  background-color: $orange;
  background-image: linear-gradient(85deg, $green, $teal);
}
.five_i {
  background-color: $yellow;
  background-image: linear-gradient(145deg, $pink, $red);
}
.background-image_i {
  position: absolute;
  margin-top: 40px;
  width: 100%;
  height: 100vh;
  > img {
    width: 100%;
    height: 40vh;
  }
}
@include media6 {
}
